{% extends "registration\base.html" %}

{% block title %}Password reset confirmation {% endblock %}

{% block content %}
    <h1>Reset your password</h1>
    {% if validlink %}
        <p>Please the new password twice</p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Reset Password"</p>
    {% else %}
            <p>The password reset link was invalid,
                request a new password reset</p>
    {% endif %}
{% endblock %}