{% extends "registration\base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <h2>Change Password</h2>
    <form method="post">
        <h3>Fill the form appropriately to change your Password</h3>
        {% csrf_token %}
        {% for fields in form %}
            {{ fields.label_tag }}
            {{ fields }}
            {% if fields.help_text %}
                <small style="color: grey;">{{ fields.help_text }}</small>
            {% endif %}
        {% endfor %}
        <input type="submit" value="change Password">
    </form>
{% endblock %}